*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background-color: lightblue;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.delete{
    width: 25px;
    height: 25px;
    background: red;
    display: inline-block;
    margin-left: 20px;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    float: right;
    font-weight: 900;
    cursor: pointer;
}

.add{
    width: 35px;
    height: 25px;
    background: lightgreen;
    display: inline-block;
    margin-left: 20px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    float: right;
    font-weight: 900;
    cursor: pointer;
}

.edit{
    width: 65px;
    height: 25px;
    background: silver;
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    float: right;
    font-weight: 400;
    cursor: pointer;
}

.info{
    width: 45px;
    height: 25px;
    background: lightblue;
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    float: right;
    font-weight: 400;
    cursor: pointer;
}

.footer{
    margin-top: 50px;
    text-align: center;
}

h3, h2 {
    margin-top: 50px;
    text-align: center;
}

label{
    font-size: 1.5em;
}


